/* === BEGIN FONTS === */

@font-face {
    font-family: 'Gilroy-Regular';
    src: url('./assets/fonts/Gilroy-Regular.woff') format('woff');
    font-weight: normal; 
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy-Medium';
    src: url('./assets/fonts/Gilroy-Medium.woff') format('woff');
    font-weight: normal; 
    font-style: normal;
    font-display: swap;
}




/* === END FONTS === */