<header class="header">
  <img src="./assets/img/burger-logo.svg" width="34" height="24" alt="Burger-menu image" />
  <nav class="header-navigation">
    <ul class="header-list">
      <li class="header-item"><a href="" target="_blank" сlass="header-link">NEW</a></li>
      <li class="header-item"><a href="" target="_blank" сlass="header-link">Каталог</a></li>
      <li class="header-item"><a href="" target="_blank" сlass="header-link">Про нас</a></li>
    </ul>
  </nav>
  <a href="./index.html" class="header-logo">Yanki</a>
  <ul class="header-list">
    <li class="header-item">
      <a href="" target="_blank" class="header-link-svg">
        <svg class="icon-svg">
          <use href="./assets/img/icons.svg#search-header"></use>
        </svg>
      </a>
    </li>
    <li class="header-item">
      <a href="" target="_blank" class="header-link-svg">
        <svg class="icon-svg">
          <use href="./assets/img/icons.svg#person-header"></use>
        </svg>
      </a>
    </li>
    <li class="header-item">
      <a href="" target="_blank"  class="header-link-svg">
        <svg class="icon-svg">
          <use href="./assets/img/icons.svg#like-header"></use>
        </svg>
      </a>
    </li>
    <li class="header-item">
      <a href="" target="_blank" class="header-link-svg">
        <svg class="icon-svg">
          <use href="./assets/img/icons.svg#basket-header"></use>
        </svg>
      </a>
    </li>
  </ul>
</header>
