<div class="wp-pagenavi">
    <a class="first" href="#">&nbsp;</a>
    <a class="previouspostslink" rel="prev" href="#"></a>
    <a class="page smaller" href="#">1</a>
    <!--    <a class="page smaller" href="#">2</a>-->
    <span class="extend">...</span>
    <a class="page smaller" href="#">7</a>
    <span class="current">8</span>
    <a class="page larger" href="#">9</a>
    <span class="extend">...</span>
    <!--    <a class="page smaller" href="#">14</a>-->
    <a class="page smaller" href="#">15</a>
    <a class="nextpostslink" rel="next" href="#">&nbsp;</a>
    <a class="last" href="#">&nbsp;</a>
</div>
